<app-header></app-header>

<div class="row">
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h2>NumPy</h2>
        <p>NumPy is a library written for scientific computing and data analysis. It stands for numerical python.</p>
        <p>NumPy is a library for the Python programming language, adding support for large, multi-dimensional arrays and matrices, along with a large collection of high-level mathematical functions to operate on these arrays.</p>
        <p><a href="https://numpy.org/" target="_blank">NumPy in detail</a></p>
    </div>
</div>

<app-footer></app-footer>
