<div class="row">
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/numpy']">NumPy</a></h1>
    </div>
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/numpy']">NumPy</a></h1>
    </div>
    <div class="last shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/numpy']">NumPy</a></h1>
    </div>
</div>

<div class="row">
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/pandas']">Pandas</a></h1>
    </div>
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/pandas']">Pandas</a></h1>
    </div>
    <div class="last shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/pandas']">Pandas</a></h1>
    </div>
</div>
<div class="row">
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/pandas']">Pandas</a></h1>
    </div>
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/pandas']">Pandas</a></h1>
    </div>
    <div class="last shadow p-3 mb-5 bg-white rounded">
        <h1><a [routerLink]="['/pandas']">Pandas</a></h1>
    </div>
</div>