<app-header></app-header>

<div class="row">
    <div class="column shadow p-3 mb-5 bg-white rounded">
        <h2>Pandas</h2>
        <p>Pandas is a library built using NumPy specifically for data analysis. Pandas used heavily for data manipulation, visualisation, building machine learning models, etc.</p>
        <p>There are two main data structures in Pandas - Series and Dataframes. The default way to store data is dataframes, and thus manipulating dataframes quickly is probably the most important skill set for data analysis.</p>
        <p><a href="https://pandas.pydata.org/docs/getting_started/index.html#getting-started" target="_blank">Pandas in detail</a></p>
    </div>
</div>

<app-footer></app-footer>

